@import url(css/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600);

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}
 
.header-wrapper {
  min-width: 1130px;
  background: #ffffff;
}

header {
  margin: 0 auto;
  width: 1130px;
  padding: 28px 0;
  
}

a {
  text-decoration: none;
  color: rgb(141, 200, 228);
  outline: none;
}

.logo {
  display: block;
  padding: 0;
  width: 184px;
  height: 36px;
  margin-top: 5px;
  background: url(../img/your-logo.png) no-repeat center top;
  float: left;
}

.top-menu {
  float: left;
  margin: 0;
  padding: 0 15px 0 35px
}
 
input[type="text"] {
	border: 1px solid #bdbdbd;;
	height: 40px;
    width: 230px;
	color: #b2b2b2;
	padding: 0 10px;
	vertical-align: top;
    border-radius: 5px;
    position: relative;
    float: right;
    outline: none;
}

#search-box {
  float: left;
  position: relative;
}

.find {
  position: absolute;
  left: 220px;
  bottom: 15px;
}

ul {
  margin: 0;
  padding: 0;
  margin-right: 66px;
}

li {
  list-style-position: inside;
  font-size: 14px;
     
}

.top-menu li {
  display: inline-block;
  padding: 10px 25px;
  margin: 0;
}

.top-menu li.active {
  border: 3px solid rgb(84, 173, 215);
  color: rgb(84, 173, 215);
  display: inline-block;
  max-width: 78px;
  
}

.top-menu li.active a {
  color:rgb(84, 173, 215);
}

.top-menu a {
  color: #b2b2b2;
}
/*стрелка*/

.active {
	position: relative;
	background:transparent;
	border: 2px solid rgb(84, 173, 215);
    border-radius: 5px;
    color:rgb(84, 173, 215);
}

.active:after, .active:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.active:after {
	border-color: rgba(136, 183, 213, 0);
	border-top-color:white;
	border-width: 5px;
	margin-left: -5px;
}
.active:before {
	border-top-color:  rgb(84, 173, 215);
	border-width: 8px;
	margin-left: -8px;
}

/*end of стрелка*/

.promo h1 { 
font: 64px 'Open Sans', sans-serif;
color: rgb(170, 255, 255);
font-weight:300;
float: left;
text-shadow: 1px 2px 0px #257a9f;
margin-top: 180px;
width: 704px;
letter-spacing: normal;
}

 

.promo-wrapper {
  min-width: 1130px;
  background-image: url(../img/background-blue.png);
  background-color: rgb(83, 172, 214);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.15);
  
}

.promo {
  margin:0 auto;
  width: 1130px;
  height: 300px;
  overflow: hidden;
  font-size: 0;
  margin-bottom: auto;
  background: url(../img/backgroundmountain.png) no-repeat 100% 0%;
}

.features-wrapper {
  min-width: 1130px;
  background: #eeeeee;
  border-color:rgb(228,228,228);
  box-shadow: inset 0 4px 0 0 rgba(0, 0, 0, 0.15);
   
}

.features {
    margin: 0 auto;
    width: 1130px;
    height: 460px;
    font-size: 0;
    text-align: center;
    border-color:rgb(228,228,228);
}

.item:last-child {
  margin-right: 0;
}

.row li{
    list-style-type: none;
    list-style-position: inside;
}

.row{
  margin: 0;
	padding: 0;
}

.item {
  margin-top: 50px;
  margin-right: 23px;
  width: 265px;
  min-height: 355px;
  box-sizing: border-box;
  border: 1px solid;
  position: relative;
  float: left;
  background: white;
  border: 1px solid;
  border-bottom: inset;
  border-color: rgb(214, 214, 214);
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.picture,
.music,
.record,
.video {
  display: inline-block;
  width: 120px;
  height: 120px;
  margin-top: 29px;
  background-repeat: no-repeat;
}

.picture {
  background-image: url(../img/image.png);
}

.music {
  background-image: url(../img/music.png);
}

.record {
  background-image: url(../img/record.png);
}

.video {
  background-image: url(../img/video.png);
}

.title {
  position: relative;
  top: -1px;
  left: -1px;
  font-size: 22px;
  font-weight: 300;
  background-color: rgb(83, 172, 214);
  width: 263px;
  height: 54px;
  text-align: center;
  text-transform: uppercase;
  line-height: 50px;
  color: rgb(255, 255, 255);
  border: 1px solid;
  border-bottom: inset;
  border-color: rgb(71, 147, 183);
  font-family: Open Sans;
  text-shadow: 0px 1px 0px #25b130;
}

.description {
  font-size: 13px;
  text-align: center;
  color: rgb(111, 111, 111);
  margin: 26px 15px;
}

.services-wrapper {
  min-width: 1130px;
  background-color: rgb(83, 172, 214);
  border-color: rgb(96, 170, 206);
  border-top: 3px inset;
}

.services {
  margin: 0 auto;
  width: 1130px;
  height: 320px;
}

.services h1 {
  text-align: center;
  font-size: 36px;
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-weight: 300;
  text-shadow: 0px 1px 0px #49b220;
}

.services h1 b {
 font-weight: 600;       
 text-shadow: 0px 1px 0px #49b220;
}

.pros1,
.pros2 {
  background-color: white;
  width: 550px;
  height: 150px;
  border: 1px solid;
  border-bottom: 2px inset;
  border-color: rgb(96, 170, 206);
  float: left;
  list-style-image: url(../img/check.png);
  box-shadow: 1px 2px 0px 0px rgba(0, 0, 0, 0.13); 
}

.pros1 {
  margin-right: 25px;
 
}

.list {
  margin-left: 16px;
  margin-top: 40px;
  margin-right: auto;
}
.list li{
  font-size: 18px;
  color: rgb(155, 155, 155);
  font-weight: 400;
  line-height: 30px;
  text-align: left;
}

.customers-wrapper {
  min-width: 1130px;
  background-color: rgb(37, 94, 122);
}

.customers {
  margin: 0 auto;
  width: 1130px;
}

.customers h1 {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-size: 36px;
  color: white;
  text-align: center;
  line-height: 120px;
}

.customers b {
  font-weight: 600;
}

.clients-logos-wrapper {
  min-width: 1130px;
  background-color: #ffffff;
}

.clients-logos {
  margin:0 auto;
  width: 1130px;
  min-height: 285px;
  background: url(../img/logos.png) no-repeat 50% 50%;
}

.footer-wrapper {
  min-width: 1130px;
  background-color: rgb(58, 58, 58);
}

footer {
  margin: 0 auto;
  width: 1130px;
  color: rgb(142, 142, 142);
}

footer .title-company,
.title-services,
.title-cont {
  color: rgb(255, 255, 255);
  background-color: rgb(101, 101, 101);
  font-size: 18px;
  font-weight: 300;
  border: 1px solid;
  border-bottom: inset;
  border-color: rgb(49, 49, 49);
  line-height: 42px;
}

.title-company,
.title-services {
  text-indent: 20px;
  clear: both;
}

.company ul,
.our-services ul {
  list-style-image: url(../img/arrow.png);
}

.company li,
.our-services li {
  line-height: 24px;
  font-size: 14px;
  text-align: left;
  margin-left: 18px;
}

.company {
  width: 265px;
  float: left;
  margin-right: 20px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 42px;
}

.our-services {
  float: left;
  width: 265px;
  margin-right: 20px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 300;
  margin-bottom: 42px;
}

.contacts {
  float: left;
  width: 265px;
  margin-top: 60px;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 42px;
}

.contacts a{
    color: rgb(142, 142, 142);
    text-decoration: underline;
}

.title-cont {
  text-align: center;
}

table {
  text-align: center;
  font-size: 14px;
  padding-left: 43px;
  font-weight: 300;
}

th{
    font-size: 18px;
    font-weight: 600;
}

.payments {
  width: 265px;
  height: 156px;
  background: url(../img/payments.png) no-repeat 80% 0%;
  float: right;
  margin-top: 60px;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}